* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #fff7ed;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.head {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
  justify-content: space-between;
}

.site-logo {
  margin-right: auto;
  height: 80px;
  max-width: auto;
  cursor: pointer;
}

.site-logo:hover {
  transition: transform .2s ease-in-out;
}

.head a {
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 600;
  color: #4d4d4d;
} 

.head a:hover {
  color: #161616;
  text-decoration: underline;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: .75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);

}

.link-button:hover {
  transform: translate(1px, 1px); 
} 

/* Home Page */

.hero-container {
  width: 100%;
  height: 80vh;
  position: relative;
  background: url('./assets/images/home-hero.png') no-repeat center center/cover;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0, 0.46)), url("./assets/images/home-hero.png") no-repeat center center; */
  /* -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  min-height: 350px;
  color: white;
  padding: 45px 23px;
}

.hero-container::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
 .hero-info {
  position: absolute;
  z-index: 2;
  /* position: absolute; */
 }

.hero-container {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 40px;
}

.hero-info .link-button {
  background-color: #ffcc8d;
  color: #ffffff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);

}

/* About pages */

.about-hero-image {
  max-width: 100%;
}

.about-page-content {
  padding-inline: 25px;
  color: #161616;
  margin-bottom: 50px;
}

.about-page-content h1 {
  line-height: 35px;
}

.about-page-content p {
  line-height: 20px;
}

.about-page-cta {
  background-color: #ffcc8d;
  color: #161616;
  padding-inline: 30px;
  padding-bottom: 32px;
  margin-inline: 25px;
  border-radius: 7px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);

}

.about-page-cta h2 {
  margin: 0;
  padding-block: 35px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: #ffffff;
  border-radius: 10px;
}


/* Van pages */

.van-list-container {
  padding-inline: 25px;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 30px;
  margin-top: 50px;
}

.van-tile img {
  max-width: 100%;
  border-radius: 7px;
  padding-top: 30px;
}

.van-tile a {
  color: #161616;
  text-decoration: none;
} 

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-type {
  height: 34px;
  max-width: auto;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4,0, 0.2, 1);
  /* cursor: pointer; */
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,  .van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 35px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*='van-type-'] {
  padding: 7px 14px;
}

.van-list-container {
  padding: 25px;
}

.van-details-counter .back-button {
  color: black;
  text-decoration: none;
}

.van-details-contianer .back-button span {
  text-decoration: underline;

}

.van-detail  {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.van-detali img {
  border-radius: 5px;
  margin-block: 50px;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.van-detail > i {
  align-self: flex-start;
  margin-top: 10px;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.4rem;
}

.van-detail .link-button {
  background-color: #ff8c38;
  font-size: 1rem;
  color: #fff;

}

.host-nav {
  display: flex;
}

.host-nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 20px;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

